.nav-tab{
    height: inherit;
    width: fit-content;
    margin-right: auto;
    padding:0px 10px 0px 10px;
}
.nav-tab:hover{
    background-color: green;
    border:none;
    border-radius: 10px;
    transition: all ease 1s;
    transform: scale(1.2);
}